# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# GOOGLE_SCRIPT_URL: The URL of your deployed Google Apps Script Web App.
VITE_GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/AKfycbxs7EcJ2vxsK9mf2PtOWK450tOQXmGuZSAoSr9zLdiGo5dBhJAJ_FHWJZkDCU9mffUE/exec"

# GROQ_API_KEY: Required for AI Voice & Scan features.
VITE_GROQ_API_KEY=""
